<a href="/news_admin">&larr; Back</a>
<div class="admin-title">
  <h2>Add New Post</h2>
</div>

<form action="/add-post" method="POST" enctype="multipart/form-data">

  <label for="projects">Select a project:</label>
<select name="projects" id="projects">
  <option value="">Select a project</option>
<% projectsData.forEach(project => { %>
    <option value="<%-project._id%>"><%-project.title%></option>
      <% }) %>

</select>
  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title" value="">

  <label for="body"><b>Content</b></label>
  <textarea name="body" id="body" rows="10" cols="50"></textarea>

  <label for="pdfFile"><b>Add PDF File</b></label>
  <input type="file" name="pdfFile" id="pdfFile" accept=".pdf">

  <input type="submit" value="Add" class="addBtn">
</form>

<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount mediaembed casechange formatpainter pageembed advtable advcode editimage typography',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    automatic_uploads: true,
    images_upload_url: '/upload-image',
    images_upload_handler: example_image_upload_handler,
    relative_urls: false
  });

  function example_image_upload_handler(blobInfo, success, failure, progress) {
  const formData = new FormData();
  formData.append('file', blobInfo.blob(), blobInfo.filename());

  fetch('/upload-image', {
    method: 'POST',
    body: formData,
  })
    .then(response => {
      if (!response.ok) {
        throw new Error('Image upload failed: ' + response.status);
      }
      return response.json();
    })
    .then(data => {
      if (data && data.location) {
        const imageUrl = data.location;
        const editor = tinymce.get('body');
        editor.insertContent(`<img src="${imageUrl}" name="${imageUrl}" alt="${blobInfo.filename()}">`);
        success(imageUrl);
      } else {
        throw new Error('Image upload failed: Invalid response');
      }
    })
    .catch(error => {
      console.error(error);
      failure('Image upload failed: ' + error.message);
    });
};

</script>
