<div class="admin-title">
  <h1> Admin Dashboard</h1>
</div>

<ul class="admin-posts">
  <li>
    <a href="/news_admin">
    <h2> News Posts </h2>
    </a>
  </li>
  <li>
    <a href="/projects_admin">
    <h2> Projects </h2>
    </a>
  </li>
  <li>
    <a href="/blog_admin">
    <h2> Blog Posts </h2>
    </a>
  </li>
  <li>
    <a href="/team_admin">
    <h2> Team Members </h2>
    </a>  </li>
</ul>
