<section id="about">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <img src="img/RSDI-LOGO.jpeg" alt="">
            </div>
            <div class="col-lg-5 py-5">
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="info-box">
                            <div class="ms-4 text-justify">
                                <h1>OUR MISSION</h1>
                                <p>Our mission at Regional Sustainable Development Institute is to drive the regional development of Georgia through the implementation of innovative and sustainable methods that support the decentralization process and empower local communities. We are committed to promoting civil engagement, competitive political, social, and economic processes, and sustainable development goals in the regions of Georgia.
                                As an organization, we prioritize supporting state institutions to achieve democratic governance and economic development, and strive to strengthen the political, economic, and social capabilities of the local population in the regions. We remain steadfast in our commitment to advancing youth development, protecting human rights and freedoms, and promoting fair and democratic elections in the regions of Georgia.
                                We aim to achieve our mission by engaging in any activities that contribute to the democratization of regional governance and sustainable development, while adhering to our values of integrity, transparency, and accountability. Our ultimate goal is to create a prosperous and equitable future for the people of Georgia by fostering an environment of cooperation and collaboration between local communities, state institutions, and other key stakeholders.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
